@font-face {
  font-family: "Figtree-Light";
  src: url('/Users/elizabethlissner/projects/lseg-mock/lseg-mock/src/assets/static/Figtree-Light.ttf');
  
}

body {
  background-color: #646363;
  font-family: 'Figtree-Light';
}